/* Define las propiedades generales de la página, incluyendo la fuente, el color de fondo y de texto, y los márgenes y el relleno */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Define el estilo del encabezado, incluyendo el color de fondo, el relleno y la alineación del texto */
header {
    background-color: #2e8555;
    padding: 1rem 0;
    text-align: center;
}

/* Define el estilo del título principal, incluyendo el color, el tamaño de fuente y el margen */
h1 {
    color: #ffffff;
    font-size: 2rem;
    margin: 0;
}

/* Define el estilo del elemento "main", que se utiliza para envolver el contenido principal de la página, incluyendo el ancho, el margen y la alineación del texto */
main {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

/* Define el estilo del contenedor principal, que se utiliza para envolver el contenido de la página, incluyendo el color de fondo, la sombra y el relleno */
.container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 5px;
}

/* Define el estilo del contenedor del título, incluyendo la alineación y la posición relativa para que el mensaje se pueda posicionar de manera absoluta */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
  }

/* Define el estilo del contenedor de mensajes emergentes, incluyendo la posición absoluta para posicionar el mensaje, el color y el tamaño de fuente */
  .message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 1rem;
    color: #2e8555;
    font-weight: bold;
    text-align: center;
  }

/* Define el estilo del tablero del juego, incluyendo la dirección de flexión y la posición relativa */
.wordle-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Define el estilo del contenedor de entrada de texto, incluyendo el margen superior */
.input-container {
    margin-top: 1rem;
}

/* Define el estilo del campo de entrada de texto para la palabra del usuario, incluyendo el borde, el relleno, el tamaño de fuente y el margen */
#word-input {
    border: 2px solid #2e8555;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
}

/* Define el estilo del botón de envío de la palabra del usuario, incluyendo el color de fondo, el color de texto, el borde, el relleno, el tamaño de fuente, el cursor y la transición */
#submit-btn {
    background-color: #2e8555;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
    transition: background-color 0.3s ease-in-out;
}
    
/* Define el estilo del botón de envío de la palabra del usuario cuando el cursor pasa sobre él, cambiando el color de fondo */
#submit-btn:hover {
    background-color: #1d6040;
}
    
/* Define el estilo del contenedor de información, incluyendo la dirección de flexión, el espacio entre los elementos y el margen superior */
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
    
/* Define el estilo del texto que indica la longitud de la palabra, incluyendo el margen, el peso de fuente y el tamaño de fuente */
#word-length {
    margin: 0;
    font-weight: bold;
}
    
/* Define el estilo del botón de información, incluyendo el color de fondo, el color de texto, el borde, el radio, el tamaño de fuente, la altura de línea y el cursor, y la transición */
#info-btn {
    background-color: #2e8555;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 2rem;
}
    
/* Define el estilo del botón de información cuando el cursor pasa sobre él, cambiando el color de fondo */
#info-btn:hover {
    background-color: #1d6040;
}
    
/* Define el estilo del diálogo emergente de información, incluyendo la posición absoluta, la posición superior y izquierda, la transformación en la posición y la posición relativa de la palabra clave "calc", el espaciado de la línea y el tamaño de fuente, y la altura máxima y el desbordamiento vertical del contenido */
#info-popup {
    position: absolute;
    top: 50%;
    left: calc(80% + 1rem);
    transform: translateY(-50%);
    white-space: normal;
    word-wrap: break-word;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    height: auto;
    overflow-y: auto;
}
    
/* Define el estilo del texto del diálogo emergente de información, incluyendo el color, la fuente y el tamaño de fuente, el espaciado entre líneas y el margen */
#info-popup p {
    color: #2e8555;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1rem;
}
    
/* Define el estilo del diálogo emergente de información cuando está visible, utilizando la clase "show" */
#info-popup.show {
    display: block;
}
    
/* Define el estilo del contenedor de pistas, incluyendo el margen superior, el tamaño de fuente y el peso de fuente */
.hints-container {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
    
/* Define el estilo del contenedor de mensaje, incluyendo el margen superior, el tamaño de fuente, el color de texto y el peso de fuente */
.message-container {
    margin-top: 1rem;
    font-size: 1rem;
    color: #2e8555;
    font-weight: bold;
}
    
/* Define el estilo del diálogo emergente de información, incluyendo la posición absoluta, la posición superior y izquierda, la transformación en la posición y la posición relativa de la palabra clave "calc", el espaciado de la línea y el tamaño de fuente, la altura máxima y el desbordamiento vertical del contenido */
#info-popup {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    white-space: normal;
    word-wrap: break-word;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    height: auto;
    overflow-y: auto;
}
    
/* Define el estilo del texto del diálogo emergente de información, incluyendo el color, la fuente y el tamaño de fuente, el espaciado entre líneas y el margen */
#info-popup p {
    color: #2e8555;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1rem;
}
    
/* Define el estilo del diálogo emergente de información cuando está visible, utilizando la clase "show" */
#info-popup.show {
    display: block;
}
    
/* Define el estilo del elemento de celebración, incluyendo la posición fija, la posición superior e izquierda, el ancho y la altura del 100%, y el color de fondo semi-transparente */
#celebration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
    
/* Define el estilo de los botones de envío e información al pasar el cursor sobre ellos, agregando una transformación de escala */
#submit-btn, #info-btn {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
    
#submit-btn:hover, #info-btn:hover {
    transform: scale(1.1);
}
    
/* Define la clase "hidden" para ocultar elementos */
.hidden {
    display: none;
}
    
/* Define el estilo de las partículas de fuegos artificiales, incluyendo la posición absoluta, el ancho, la altura, el radio de borde, el color de fondo y la opacidad */
.firework-particle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2e8555;
    opacity: 0;
}
    
/* Define el estilo del botón de cerrar diálogo de información, incluyendo la posición absoluta,la posición superior y derecha, el fondo transparente, el color de texto y el tamaño y peso de fuente */
.close-info-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #2e8555;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
    
/* Define el estilo del botón de cerrar diálogo de información al pasar el cursor sobre él, cambiando el color de texto */
.close-info-btn:hover {
    color: #1d6040;
}
    
/* Define el estilo del icono de material, incluyendo el tamaño de fuente */
.material-icons {
    font-size: 1.5rem;
}
    
#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em;
    border: 2px solid black;
    z-index: 1000;
  }
  
  #popup.hidden {
    display: none;
  }
  
  #partidas li.current {
    background-color: gold;
  }
  
  .mejor-partida-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
  }

  #popup h2 {
    background-color:  #1d6040;
    color: #fff;
    padding: 0.5rem;
    margin: 0;
    border-radius: 5px;
  }

